<h1>Getting Started</h1>
<p>This is a nested prerendered route under the /docs scope.</p>
<ol>
  <li>Add phoenix_prerender to your dependencies</li>
  <li>Mark routes with the prerender metadata option</li>
  <li>Run mix phoenix.prerender</li>
  <li>Add PhoenixPrerender.Plug to your endpoint</li>
</ol>
